@charset "utf-8";

/*_requesting.scss */
.content.center {
	display: table;
	width: 100%;
   	height: 100%;
   	text-align: center;

   	//center_wrap content
   	.center_wrap {
		display: table-cell;
		vertical-align: middle;
		color: #858585;
   	}
	.center_wrap.requesting {
		
		.title {
			font-size: 17px;
			line-height: 15px;
		}
		.exp {
			font-size: 13px;
			line-height: 18px;
			margin-top: 15px;
		}
	}
}

