// Sprites Map
$sp_icon: (
	name: 'sp_icon',
	width: 414px,
	height: 380px,
	image: '../img/sprite/sp_icon.png',
	sprites: (
	arr_down_01: (
			offset-x: -384px,
			offset-y: -342px,
			width: 14px,
			height: 8px,
		),
		arr_down_02: (
			offset-x: -152px,
			offset-y: -316px,
			width: 26px,
			height: 16px,
		),
		arr_down_03: (
			offset-x: -269px,
			offset-y: -316px,
			width: 10px,
			height: 10px,
		),
		arr_right_01: (
			offset-x: 0px,
			offset-y: -354px,
			width: 16px,
			height: 26px,
		),
		arr_up_01: (
			offset-x: -366px,
			offset-y: -342px,
			width: 14px,
			height: 8px,
		),
		arr_up_02: (
			offset-x: -182px,
			offset-y: -316px,
			width: 26px,
			height: 16px,
		),
		available: (
			offset-x: 0px,
			offset-y: 0px,
			width: 198px,
			height: 198px,
		),
		boomark_off: (
			offset-x: -366px,
			offset-y: -98px,
			width: 44px,
			height: 42px,
		),
		boomark_on: (
			offset-x: -366px,
			offset-y: -52px,
			width: 44px,
			height: 42px,
		),
		checkbox_off: (
			offset-x: -366px,
			offset-y: -186px,
			width: 40px,
			height: 38px,
		),
		checkbox_on: (
			offset-x: -366px,
			offset-y: -144px,
			width: 40px,
			height: 38px,
		),
		complete_mark: (
			offset-x: 0px,
			offset-y: -202px,
			width: 148px,
			height: 148px,
		),
		drawer_menu: (
			offset-x: -366px,
			offset-y: -228px,
			width: 44px,
			height: 34px,
		),
		indicator_off: (
			offset-x: -232px,
			offset-y: -316px,
			width: 16px,
			height: 16px,
		),
		indicator_on: (
			offset-x: -212px,
			offset-y: -316px,
			width: 16px,
			height: 16px,
		),
		info_mark: (
			offset-x: -322px,
			offset-y: -278px,
			width: 32px,
			height: 32px,
		),
		layer_close_btn: (
			offset-x: -332px,
			offset-y: -164px,
			width: 30px,
			height: 30px,
		),
		main_boomark_on: (
			offset-x: -282px,
			offset-y: -278px,
			width: 36px,
			height: 34px,
		),
		my_ticket: (
			offset-x: -202px,
			offset-y: 0px,
			width: 160px,
			height: 160px,
		),
		my_ticket_new: (
			offset-x: -366px,
			offset-y: 0px,
			width: 48px,
			height: 48px,
		),
		seat_couple_type01: (
			offset-x: -152px,
			offset-y: -278px,
			width: 80px,
			height: 34px,
		),
		seat_couple_type02: (
			offset-x: -152px,
			offset-y: -240px,
			width: 80px,
			height: 34px,
		),
		seat_couple_type03: (
			offset-x: -236px,
			offset-y: -240px,
			width: 80px,
			height: 34px,
		),
		seat_couple_type04: (
			offset-x: -202px,
			offset-y: -164px,
			width: 80px,
			height: 34px,
		),
		seat_couple_type05: (
			offset-x: -152px,
			offset-y: -202px,
			width: 80px,
			height: 34px,
		),
		seat_couple_type06: (
			offset-x: -236px,
			offset-y: -202px,
			width: 80px,
			height: 34px,
		),
		seat_on: (
			offset-x: -252px,
			offset-y: -316px,
			width: 13px,
			height: 13px,
		),
		seat_single_type01: (
			offset-x: -366px,
			offset-y: -266px,
			width: 42px,
			height: 34px,
		),
		seat_single_type02: (
			offset-x: -286px,
			offset-y: -164px,
			width: 42px,
			height: 34px,
		),
		seat_single_type03: (
			offset-x: -320px,
			offset-y: -202px,
			width: 42px,
			height: 34px,
		),
		seat_single_type04: (
			offset-x: -320px,
			offset-y: -240px,
			width: 42px,
			height: 34px,
		),
		seat_single_type05: (
			offset-x: -366px,
			offset-y: -304px,
			width: 42px,
			height: 34px,
		),
		seat_single_type06: (
			offset-x: -236px,
			offset-y: -278px,
			width: 42px,
			height: 34px,
		),
	)
);
