@charset "UTF-8";

@mixin sp_ico {
	background-image: url(../img/sp_ico_mv_1605.png);
	background-repeat: no-repeat;
	background-size: 30px 750px;	
	vertical-align: top;
}
@mixin sp_movie {
	background-image: url(../img/sp_movie_end_1410.png);
	background-repeat: no-repeat;
	background-size: 250px 350px;	
}
@mixin sp_spi {
	background-image: url(../img/sp_spi.png);
	background-repeat: no-repeat;
	background-size: 250px 265px;	
	vertical-align: top;
}
@mixin sp_rank {
	background-image: url(../img/ico_sp_rank.png);
	background-repeat: no-repeat;		
}
@mixin u_pg3 {
	background-image: url(../img/u_pg3.png);
	background-repeat: no-repeat;
}

[class^=ico_rank] {
		@include sp_ico;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 30px;
		padding: 2px 13px 0 0;
		font-size: 12px;
		color: #fff;
		font-family: HelveticaNeue-Medium,Helvetica,sans-serif;
		letter-spacing: -1px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

[class^=ico_grade] {
	@include sp_ico;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 4px 0 0;
	vertical-align: -3px;
}


/* content */
/*영화 예매 리스트 */
.movie {
	
	/* item */
	.item {
		position: relative;
		border-bottom: 1px solid #e3e3e3;
		&_inner {
			display: block;
			position: relative;
			padding: 13px 10px;
		}
	}

	/* poster */
	.poster {
		& {
			display: block;
			float: left;
			position: relative;
			margin-right: 15px;
			text-align: center;
			vertical-align: middle;
		}

		.link {
			display: inline-block;
		}

		.ico_rank{

			&_top {
				background-position: 0 -90px;
			}

			& {
				background-position: 0 -130px;
			}
		}
	}

	/* exp */
	.exp {
		display: block;
		overflow: hidden;

		.link {
			display: block;
		}

		.str {
			& {
				display: inline-block;
				vertical-align: top;
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
			}

			&.txt {
				font-weight: normal;
				color: #666;
			}
		}

		.br {
			display: inline-block;
			overflow: hidden;
			width: 1px;
			height: 10px;
			margin: 0 3px 0 2px;
			background: #dedede;
		}

		//제목
		.subject {
			& {
				display: block;
				overflow: hidden;
				width: 100%;
				line-height: 1em;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 16px;
			}

			.ic1001001 {
				width: 26px;
				background-position: 0 -420px;
			}
			.ic1001002 {
				background-position: 0 -440px;
			}

			.ic1001003 {
				background-position: 0 -460px;
			}

			.ic1001004 {
				width: 26px;
				background-position: 0 -480px;
			}
		}	

		//별점, 등급
		.status {
			& { 
				display: block;
				overflow: hidden;
				width: 100%;
				margin: 4px 0 2px;
				line-height: 1em;
				vertical-align: top;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.rate { 
				& {
					@include sp_movie;
					display: inline-block;
					position: relative;
					top: 2px;
					width: 12px;
					height: 12px;
					margin-right: -1px;
					text-align: left;
					background-position: -120px -40px;
				}

				&_mask {
					width: 12px;
					margin-right: -1px;
					display: inline-block;
					overflow: hidden;
					height: 100%;
					background-position: -120px -10px;
				}

				&_mask img {
					display: block;
					height: 100%;
					width: 12px;
					margin-right: -1px;
				}

			}

		}

		// 영화 정보
		.info {
			display: inline-block;
			overflow: hidden;
			width: 100%;
			margin-top: -1px;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 14px;
			line-height: 18px;
			color: #666;
		}

		// 예매, 다운로드 버튼
		.btn_wrap {
			& {
				display: block;
				margin-top: 5px;
			}

			.btn {

				& {
					font-family: AppleSDGothicNeo-Medium,Helvetica,sans-serif;
					display: inline-block;
					height: 27px;
					line-height: 27px;
					overflow: hidden;
					background-color: #ef5151;
					font-size: 13px;
					color: #fff;
					text-align: center;
					vertical-align: middle;
					white-space: nowrap;
					-webkit-border-radius: 2px;
					border-radius: 2px;
				}
			}

			.bt1 {
				padding: 0 10px;
			}

			.bt2 {
				padding: 0 9px;
				line-height: 29px;
			}
		}
	}
}

/* 영화 페이징 */
.page {

	& {
		padding: 15px 0 10px;
		border-bottom: none;
		position: relative;
		margin-top: -1px;
		border-top: solid 1px #e0e0e0;
		text-align: center;
	}

	.btn_wrap {
		display: inline-block;
		overflow: hidden;
		padding: 9px 18px 9px 17px;
		border: 1px solid #bbb;
		background: #f0f0f0;
		background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),color-stop(.05,#fbfbfb),to(#f0f0f0));
		font-size: 0;
		vertical-align: top;
		-webkit-box-shadow: inset 0 1px #fefefe;
		box-shadow: inset 0 1px #fefefe;
		-webkit-appearance: none;
	}

	.btn {
		& {
			display: block;
			overflow: hidden;
			width: 9px;
			height: 14px;
			@include u_pg3;
			background-size: 20px 14px;	
			color: transparent;
		}

		&.prev {
			background-position: 0 0;
		}

		&.next {
			background-position: -11px 0;
		}
	}

	.page_wrap {
		& { 
			padding: 0 3px 0 2px;
		}

		.link {
			display: inline-block;
			margin-right: -1px;
			vertical-align: top;
		}

		.pgn {
			display: inline-block;
			padding: 3px 3px 4px;
			border: solid 1px #e2e2e2;
			background-color: #fefefe;
			font: 13px/25px HelveticaNeue;
			min-width: 26px;
		}

		.pgn.now {
			border-color: #32cb00;
			color: #32a800;
		}

	}
}


/* 소셜 플러그인 */
.plugin {
	.spi_wrap {
		& {
			margin: 20px auto;
			max-width: 308px;
			text-align: center;
		}

		.spi {
			display: inline-block;
			vertical-align: top;
		}

		.link {
			@include sp_spi;
		}

		.spug {
			font-size: 0;
			text-align: left;
			white-space: nowrap;
		}

		.spug a:first-child {
			margin-left: 0;
		}

		.spug a {
			display: inline-block;
			overflow: hidden;
			width: 34px;
			height: 34px;
			margin-left: 5px;
			color: rgba(0,0,0,0);
		}

		.sns_blog {
			background-position: 0 -150px;
		}
		.sns_cafe {
			background-position: -40px -150px;
		}
		.sns_bookmark {
			background-position: -120px -150px;
		}
		.sns_memo {
			background-position: -200px -190px;
		}
		.sns_pholar {
			background-position: -160px -150px;
		}
		.sns_kakaotalk {
			background-position: -200px -150px;
		}
		.sns_band {
			background-position: 0 -190px;
		}
		.sns_share {
			width: 32px;
			height: 32px;
			background-position: -120px -190px;
			border: 1px solid #dedede;
			background-color: #fff;
		}
	}
	
}

/* 영화 인기 검색 */
.pop_search {
	& {
		margin-top: 30px;
		border-top: 1px solid #494949;
		background-color: #fff;
	}

	.tab {
		.item:first-child {
			border-left: none;
			margin-right: -1px;
		}

		.item {
			display: block;
			float: left;
			width: 50%;
			height: 34px;
			border-top: 1px solid #fafafa;
			border-left: 1px solid #aeaeae;

			.link {
				display: block;
				height: 25px;
				text-align: center;
				padding-top: 7px;
				color: #000;
			}
		}

		.item.on {
			border-top: none;
			border-bottom: 1px solid #aeaeae;

			.link {
				border: 1px solid #e1e1e1;
				background-color: #f3f3f3;
				color: #777;
			}
		}
	}
}
/* 영화 인기 검색 순위 */
[class^=pop_search_] {
	.item {
		position: relative;
		border-bottom: 1px solid #ededed;
	}

	.link {
		display: block;
		position:relative;
	}

	.rank {
		&_txt { 
			display: block;
			max-width: 80%;
			height: 23px;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 8px 0 2px 10px;
			white-space: nowrap;
			word-wrap: normal;
		}

		&_num {
			display: inline-block;
			float: left;
			width: 14px;
			height: 13px;
			margin-right: 7px;
			margin-top: 3px;
			@include sp_rank;
			background-position: 0 0;
			color: #fff;
			font-family: Tahoma, Helvetica;
			font-size: 9px;
			line-height: 13px;
			text-align: center;
			font-weight: bold;
		}
	}

	.link {
		p {
			display: inline-block;
			position:absolute;
			right: 10px;
			top: 9px;
			width: 31px;
			height: 30px;
		}
		em {
			display: inline-block;
			position: absolute;
			right: 0;
			@include sp_rank;
			color: #999;
			font-size: 11px;
			font-family: Helvetica;
		}

		em.default {
			left: 0px;
			top: 7px;
			width: 7px;
			height: 2px;
			background-position: -15px 0;
		}

		em.up {
			left: 0px;
			top: 4px;
			width: 8px;
			height: 9px;
			background-position: 0 -15px;
		}

		em.down {
			left: 0px;
			top: 4px;
			width: 8px;
			height: 9px;
			background-position: -10px -15px;
		}	

		em.num {
			background:none;
		}		
	}

	.item:last-child {
		height: 36px;
		border-bottom: 1px solid #c9c9c9;
	}

	.default_date {
		padding-top: 2px;
		padding-right: 10px;
		text-align: right;
		font-family: Helvetica;
		color: #999;
		font-size: 11px;
	}
}
